{% extends "layout.html" %}

{% block body %}
<!--
    <table style="width: 100%">
        <tr>
            <th> # </th>
            {% for char in string2 %}
                <th> char </th>
            {% endfor %}
        </tr>

        {% for char1 in string1 %}
            <tr>
                <th> {{ char1 }} </th>
                {% for char2 in string2 %}
                    <td> {{ char2 }} </td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
-->
{% endblock %}