{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th></th>
            <th> 0 </th>
            {% for char in s2 %}
                <th> {{ char }} </th>
            {% endfor %}
        </tr>

        {% for tup in matrix %}
            <tr>

                {% if tup[0][0] == 0 %}
                    <th> 0 </th>
                {% else %}
                    <th> {{ s1[tup[0][0]-1] }} </th>
                {% endif %}

                {% for row in tup %}
                    <td> {{ row[0][0] }} </td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
{% endblock %}